body {
  margin: 0;
  padding: 20px 40px;  //20px for top & bottom, 40px for left & right sides
  font-family: 'Luxurious Roman', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}